backend/workflows/prism-incident-v2.json
{
  "name": "PRISM - Incident (Agentic Middleware + Policies)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prism/incident",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "IncidentWebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "const incident = $input.first().json.body;\nreturn [{ json: { ok: true, incident } }];"
      },
      "id": "validate-1",
      "name": "ValidateIncident",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "const incident = $input.first().json.incident;\nlet requires_approval = false;\nlet block_reason = '';\n\nif (incident.environment === 'production' || incident.severity === 'critical') {\n  requires_approval = true;\n  block_reason = 'Production/Critical policy: Manual approval required';\n}\n\nreturn [{ json: { ...$input.first().json, policy: { requires_approval, block_reason } } }];"
      },
      "id": "policy-1",
      "name": "PolicyCheck",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://openclaw/v1/incidents/analyze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENCLAW_AUTH_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \n  schema_version: '1.0', \n  incident_id: $json.incident.incident_id, \n  incident: $json.incident, \n  policy: $json.policy, \n  requested_actions: ['diagnose', 'propose_remediation'] \n}) }}"
      },
      "id": "openclaw-1",
      "name": "OpenClawAnalyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "RespondToWebhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "IncidentWebhook": { "main": [[{ "node": "ValidateIncident", "type": "main", "index": 0 }]] },
    "ValidateIncident": { "main": [[{ "node": "PolicyCheck", "type": "main", "index": 0 }]] },
    "PolicyCheck": { "main": [[{ "node": "OpenClawAnalyze", "type": "main", "index": 0 }]] },
    "OpenClawAnalyze": { "main": [[{ "node": "RespondToWebhook", "type": "main", "index": 0 }]] }
  }
}
